@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

.ListItem {
  border: 2px solid black;
  margin-top: 10px;
  height: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ListItem-Name {
  width: 70%;
}

.ListItem-Qty {
  width: 30%;
  float: right;
}

.ListItem button {
  background-color: red;
  border: 2px solid black;
  color: white;
  height: 20px;
  width: 20px;
  padding: 1px 3px;
  transform: translateX(110px);
}

.ListItem-QInput {
  width: 30px;
}

li div span input {
  font-family: 'Montserrat';
  color: black;
  font-weight: 400;
  font-size: 14px;
}

/* STYLING FOR CROSSING ITEM OUT */
.ListItem-Completed {
  position: relative;
}

.ListItem-Completed:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid #111;
  width: 100%;
}